/* univerzal styles */

body {
    background-color: #070724;
    background-image: url(./assets/background-stars.svg); 
    color: #FFFFFF;
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    color: #bfbfc7;
}

nav li {
    display: inline-block;
    margin-right: 5%;
}

nav li:hover {
    cursor: pointer;
    color: white;
}

hr {
    border: 1px solid #9797974d;
}

/* navbar styles */ 

.navbar-div {
    height: 75px;
    position: relative;
    padding: 1%;
}

.page-title {
    display: inline-block;
    width: 50%;
    float:left;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-top: 0.75%;
  top: 50%;
}

.planet-variations {
    display: inline-block;
    width: 50%;
    float:left;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.6px;
    text-align: center;
    margin: 0;
  position: absolute;
  top: 50%;
}

.planet-variations a {
    text-decoration: none;
    color: #bfbfc7;
}

.planet-variations a:hover {
    text-decoration: none;
    color: white;
}

.planet-variations-mobile a {
    text-decoration: none;
    color: #bfbfc7;
}

.planet-variations-mobile a {
    text-decoration: none;
    color: white;
}



/* Mobile menus and navs*/

.hamburger-container {
    display: none;
}

.planet-variations-mobile {
    display: none;
}

.mobile-buttons-container {
    display: none;
}


/* Planet facts div styles */

#overview {
    display: block;
}

.facts {
    padding: 7%;
    height: 500px;
}


/* Planet picture styles */

.planet-picture-container {
    display: inline-block;
    float: left;
    padding: 0 20%;
    width: 400px;
}


/* Planet facts text styles */ 

.planet-info {
    display: inline-block;
    width: 18%;
    float: left;
}

.planet-info h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
}

.planet-fact-text {
    padding-bottom: 20px;
}

.planet-fact-text p{
    font-family: 'League Spartan', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #bfbfc7;
}

.planet-fact-text span {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: #838391;
    
}

.planet-fact-text a {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    color: #838391;
}


/* button styles */ 

.button {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    line-height: 25px;
    letter-spacing: 2.6px;
    border: 1px solid #38384F;
    margin: 10px 0;
    padding: 5%;
}

.button span {
    color: #838391;
    padding: 0 15px;
}

.button:hover {
    cursor: pointer;
    background-color: #38384F;
    
} 

.active {
    background-color: #2D68F0; 
}


/* manipulated things */ 

#neptune-overview-paragraph {
    display: block;
    height: 150px;
}

#neptune-interior-paragraph {
    display: none;
    height: 150px;
}

#neptune-geology-paragraph {
    display: none;
    height: 150px;
}

#neptune-geology-img {
    height: 200px;
    width: auto;
    position: absolute;
    z-index: 1;    
    left: 32%;
    top: 60%;
    display: none;
}


/* Info cards styles */

.block-div {
    display: block;
    width: 65%;
    margin: 0 auto;
    
}

.planet-info-cards {
    display: flex;
    width: 100%;
}

.container {
    border: 1px solid #9797974d; 
    width: 25%;
    margin: 10px;
    padding: 1% 1% 1% 2%;
}

.container h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 40px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.container h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: #838391;
}


/* Media queries 500-1260px */

@media screen and (max-width: 1260px) and (min-width: 500px) {


.navbar-div {
    height: 120px;
}

.page-title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

nav li {
    margin-right: 2%;
    margin-top: 30px;
}

.planet-variations {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 10px; 
}

.facts {
    height: 650px;
}

.planet-picture-container {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.planet-picture-container img {
    height: 300px;
    margin: 0%;
}

#neptune-geology-img {
    left: auto;
    top: 40%;
    height: 150px;
    width: auto;
}

.planet-info {
    display: inline-block;
    width: 100%;
    padding-top: 5%;
}

.planet-heading-facts {
    display: inline-block;
    width: 50%;
}

.planet-heading-facts h1 {
    font-size: 60px;
    padding-bottom: 2%;
}

.planet-fact-text {
    width: 90%;
}

.button {
    display: inline-block;
    width: 80%;
}

.buttons-container {
    display: inline-block;
    width: 50%;
    position: absolute;
    padding-top: 3%;
}


/* Planet info cards */

.block-div {
    width: auto;
    padding: 0 5%;
    
}

.container h2 {
font-size: 20px;
letter-spacing: 0px;
}

.container-4 {
    margin-right: 0;
}

}


/* Media queries 300-499px */

@media screen and (max-width: 499px) and (min-width: 300px) {


    .hamburger-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 35px;
        width: 50%;
        text-align: right;
    }

    .hamburger-container img {
        height: 20px;
    }

    .navbar-div {
        height: 50px;
        padding-top: 2%;
        padding-right: 1%;
        padding: 5%;
        background-color: #070724;
    }
    
    .page-title {
        display: inline-block;
        width: 50%;
        font-size: 30px;
        margin-top: 0;
    }
    

    .planet-variations {
        display: none;
    }

    /* Planet nav mobile only */
    
    .planet-variations-mobile {
        display: none;
        color: white;
        width: 100%;
        font-family: 'League Spartan', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.36px;
        background-color: #070724;
        padding-bottom: 30px;
    }

    .planet-variations-mobile ul {
        display: block;
        color: white;
        width: 100%;
        list-style-type: none;
        padding-left: 5%;
    }

    .planet-variations-mobile li {
        display: block;
        color: white;
        width: 100%;
        padding: 10px 0;
    }
  
    .planet::before {
        display:          inline-block;
        vertical-align:   middle;
        width:            10px;
        height:           10px;
        border-radius: 5px;
        margin-right:     10px;
        content:          ' '
      }

      .planet span {
        position: absolute;
        right: 10%;
        color:#b3aeae9d; 
        align-self: center;
      }

      .mercury::before {
        background-color: #DEF4FC;
      }

      .venus::before {
        background-color: #F7CC7F;
      }

      .earth::before {
        background-color: #545BFE;
      }

      .mars::before {
        background-color: #FF6A45;
      }

      .jupiter::before {
        background-color: #ECAD7A;
      }

      .saturn::before {
        background-color: #FCCB6B;
      }

      .uranus::before {
        background-color: #65F0D5;
      }

      .neptune::before {
        background-color: #497EFA;
      }


      /* Planet facts buttons */

      #web-button{
        display: none;
      }

      .mobile-buttons-container {
        display: block;
        text-align: center;
      }

      .button {
        max-width: 30%;
        display: inline-block;
        font-size: 12px;
        padding: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 3px;
        border-bottom-color:  #2D68F0;
        text-align: center;
      }


    
    .facts {
        height: 650px;
    }
    
    .planet-picture-container {
        display: flex;
        width: 60%;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    
    .planet-picture-container img {
        height: 300px;
        margin: 0%;
    }
    
    #neptune-geology-img {
        left: auto;
        top: 45%;
        height: 100px;
        width: auto;
    }
    
    
    .planet-info {
        display: inline-block;
        width: 100%;
        padding-top: 5%;
    }
    
    .planet-heading-facts {
        display: inline-block;
        width: 50%;
    }
    
    .planet-heading-facts h1 {
        font-size: 60px;
        padding-bottom: 2%;
    }
    
    .planet-fact-text {
        width: 90%;
    }
    
    .button {
        display: inline-block;
        width: 80%;
        
    }
    
    .buttons-container {
        display: inline-block;
        width: 50%;
        position: absolute;
        padding-top: 3%;
    }
    
    .facts {
        height: 550px;
    }

    .planet-picture-container img {
        height: 180px; 
    }


    .planet-heading-facts {
        display: inline-block;
        width: 100%; 
        text-align: center;
    }

    .planet-fact-text {
        width: 100%;
    }
    
    /* Planet info cards */
    
    .block-div {
        width: auto;
        padding: 5% 5%;
    }

    .planet-info-cards {
        display: block;
        width: 100%;
    }

    .container {
        border: 1px solid #9797974d;
        width: 90%;
        margin: 2% auto;
        padding: 2% ;

    }

    .container h2 {
        display: inline-block;
        position: relative;
        float: right;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 400;
    }
    
    .container h4 {
        display: inline-block;
    }

    }

